name: building working for npm elarn-frontend
run-name: build elarn-frontend

on:
  push:
    branches:
      - main

jobs:
  my_job:
    name: deploy to dev
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 16
          cache: "npm"

      - name: Install dependency packages
        run: npm ci

      - name: Build
        run: npm run build

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ github.run_id }}
          path: build
